* {
    box-sizing: border-box;
}

html,body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.58;
    color: #333;
    background-color: #f4f4f4;
    height: 100%;
}

.hidden {
    display: none;
}

section {
    padding: 0;
    margin: 0;
}

input {
    padding-left: 10px;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.7em;
}

a {
    color: #6db33f;
}

button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 14px;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

button.default {
    background-color: #e8e8e8;
    color: #333;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.primary, button.accent {
    background-color: #6db33f;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
}

#chat-page {
    position: relative;
    height: 100%;
    flex-grow: 1;
}

#base {
    display: flex;
    height: 100%;
    width: 100%;
}

#home-page {
    position: relative;
    height: 100%;
    min-width: 20rem;
}

#MainHeader {
    position: relative;
}

.chat-container {
    margin-left: 10px;
    margin-right: 10px;
    height: inherit;
}

.header {
    height: 4rem;
    padding: .375rem .8125rem .5rem .8125rem;
    background-color: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    z-index: 1;
}

.chat-list {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    background-color: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.Avatar {
    flex: none;
    align-items: center;
    justify-content: center;
    width: 3.375rem;
    height: 3.375rem;
    border-radius: 50%;
    color: #000;
    font-weight: bold;
    display: flex;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    font-size: 1.3125rem;
    text-transform: uppercase;
}

.ListItem .Avatar {
    margin-right: .5rem;
}

.ListItem .info {
    flex: 1;
    overflow: hidden;
}

.ListItem .title {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: initial;
    unicode-bidi: plaintext;
    text-overflow: ellipsis;
    line-height: 1.5rem;
}

.Chat {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
}

.Chat .status {
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    z-index: 2;
}

.ListItem .status {
    text-align: initial;
    unicode-bidi: plaintext;
    font-size: 1rem;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ListItem-button {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    display: flex;
    align-items: center;
    padding: .5625rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    color: #000;
    border-radius: 0.75rem;
    --ripple-color: rgba(0, 0, 0, 0.08);
    text-decoration: none;
    cursor: pointer;
}

.ListItem .ListItem-button:hover {
    background-color: #eee;
}

ul {
    list-style-type: none;
    background-color: #FFF;
    margin: 0;
    overflow: auto;
    padding: 0;
}

/* ### Chat Header Styles ### */
.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #d8d8d8;
    height: 4rem;
    z-index: 3;
    position: relative;
    background-color: #f4f4f4;
}
.chat-header h2 {
    margin: 0;
    font-weight: 500;
}
.connecting {
    padding: 0;
    text-align: center;
    align-content: center;
    color: #777;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #d8d8d8;
    height: 36px;
    transition-property: height, top;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    top: 0;
    z-index: 1;
}
.connecting.disabled {
    top: -36px;
    height: 0;
}

/* ### Message Styles ### */
#messageArea {
    padding: 0 20px 0 20px;
    height: calc(100% - 134px);
}
#messageArea li {
    line-height: 1.5rem;
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid #d8d8d8;
}
#messageArea li p {
    margin: 0;
}

#messageArea .event-message {
    width: 100%;
    text-align: center;
    clear: both;
}
#messageArea .event-message p {
    color: #777;
    font-size: 14px;
    word-wrap: break-word;
}

#messageArea .chat-message {
    position: relative;
    display: flex;
}
#messageArea .chat-message i {
    width: 42px;
    height: 42px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

.message-wrapper span {
    color: #333;
    font-weight: 600;
    margin-bottom: 8px;
}
.message-wrapper p {
    color: #43464b;
    word-wrap: break-word;
    width: 100%;
    flex-grow: 1;
}
.message-wrapper .message-time {
    color: #999;
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
}
.message-wrapper {
    margin-left: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
}
/* ### Message Styles ###*/

#messageForm {
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

#messageForm input {
    float: left;
    width: calc(100% - 85px);
    min-height: 38px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
}

#messageForm button {
    float: left;
    width: 80px;
    height: 38px;
    margin-left: 5px;
}

.notification {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    opacity: 0;
    color: black;
    padding: 10px;
    border-radius: 8px;
    transition-duration: .5s;
    transition-property: opacity;
    z-index: 3;
    border: 1px solid;
}

/* ### Create Chat Button ### */
.Button.round {
    height: 3.375rem;
    width: 3.375rem;
    border-radius: 50%;
}
#create-chat-holder {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}
#create-chat-icon {
    font-size: 1.5rem;
    color: white;
}
.icon {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

/* ### Add User Form ### */
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#addUserForm {
    position: relative; /* for input container to be positioned properly */
    z-index: 3;
}

.input-container {
    position: absolute;
    top: 0;
    left: -200px;
    display: flex;
    flex-direction: column;
    width: 200px;
}
#username-input-field {
    padding: 8px;
}
#userListPlaceHolder {
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    max-height: 80px;
    overflow-y: auto;
}
.account-avatar {
    width: 36px;
    padding: 8px;
}
.account-info-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.account-in-chat-flag {
    font-size: 12px;
    color: #444;
    text-transform: uppercase;
}

@media screen and (max-width: 730px) {

    .chat-container {
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .chat-container {
        height: calc(100% - 30px);
    }

    .username-page-container {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
        padding: 25px;
    }

    #chat-page ul {
        height: calc(100% - 120px);
    }

    #messageForm button {
        width: 65px;
    }

    #messageForm input {
        width: calc(100% - 70px);
    }

    .chat-header {
        padding: 10px;
    }

    .connecting {
        top: 60px;
    }

    .chat-header h2 {
        font-size: 1.1em;
    }
}
